<div class="container-fluid">

    <div class="row">
        <h1>Detalhes do produto</h1>
        <div class="col-md-12">

            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-lg-block">
                    <img class="Thumbnail" [src]="product.image" alt="{{product.description}}" height="350px">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{product.description}}</h3>
                    <strong class="d-inline-block mb-2 text-primary">Preço {{product.price | currency:'BRL':true}}</strong>
                    <p class="card-text mb-auto">Tamanhos disponíveis:</p>

                    <ul class="list-group list-group-horizontal text-center">
                            <li
                                *ngFor="let size of product.sizes; let i = index" 
                                [ngClass]="{'active': i == sizeSelected, 'disabled' : size.amount == 0}" 
                                class="list-group-item list-group-item-action"
                                (click)="onSelect(i)">
                                <a ></a>
                                {{size.description}}
                            </li>
                    </ul>
                    <p class="card-text mb-auto">Cores disponíveis:</p>
                    <ul class="list-group list-group-horizontal text-center">
                        <li 
                            *ngFor="let color of getColors()"
                            [ngClass]="{'disabled' : color.amount == 0}"
                            class="list-group-item list-group-item-action">{{color.description}}</li>
                    </ul>
                    <br />
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-seller"
                        role="button">Chamar
                        vendedor</a>
                </div>
            </div>
        </div>

    </div>
    <h2>Você pode se interessar também por:</h2>
    <div class="row">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-lg-block">
                    <img class="Thumbnail" src="/assets/img.jpg" alt="Camiseta branca" height="287px">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Camiseta básica</h3>
                    <strong class="d-inline-block mb-2 text-primary">Preço R$ 100,00</strong>
                    <p class="card-text mb-auto">Tamanhos disponíveis:</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-action">P</li>
                        <li class="list-group-item list-group-item-action">M</li>
                        <li class="list-group-item list-group-item-action">G</li>
                    </ul>
                    <p class="card-text mb-auto">Cores disponíveis:</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-action">Azul</li>
                        <li class="list-group-item list-group-item-action ">Vermelho</li>
                        <li class="list-group-item list-group-item-action">Branco</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-seller" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aguarde! Você será atendido em breve!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="btn btn-primary" data-dismiss="modal" role="button">Ok!</a>
            </div>
        </div>
    </div>
</div>